# see https://www.npmjs.com/package/@hono/oidc-auth
OIDC_AUTH_SECRET="<YOUR_AUTH_SECRET>"
OIDC_ISSUER="<YOUR_OIDC_ISSUER>"
OIDC_CLIENT_ID="<YOUR_OIDC_CLIENT_ID>"
OIDC_CLIENT_SECRET="<YOUR_OIDC_CLIENT_SECRET>"
