name: Deploy

on:
  push:
    branches:
      - main


jobs:
  terraform:
    name: Terraform Apply
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: terraform

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "~1.0"

      - name: Create Terraform Backend Config
        run: |
          cat > terraform.tfbackend << EOF
          access_key = "${{ secrets.R2_ACCESS_KEY }}"
          secret_key = "${{ secrets.R2_SECRET_KEY }}"
          endpoints  = { s3 = "https://${{ secrets.CLOUDFLARE_ACCOUNT_ID }}.r2.cloudflarestorage.com" }
          EOF

      - name: Create Terraform Variables File
        run: |
          cat > terraform.tfvars << EOF
          cloudflare_api_token  = "${{ secrets.CLOUDFLARE_API_TOKEN }}"
          cloudflare_account_id = "${{ secrets.CLOUDFLARE_ACCOUNT_ID }}"
          auth0_client_id       = "${{ secrets.AUTH0_CLIENT_ID }}"
          auth0_client_secret   = "${{ secrets.AUTH0_CLIENT_SECRET }}"
          EOF

      - name: Terraform Init
        run: terraform init -backend-config=terraform.tfbackend

      - name: Terraform Plan
        run: terraform plan

      - name: Terraform Apply
        run: terraform apply -auto-approve

  wrangler-deploy:
    name: Wrangler Deploy
    runs-on: ubuntu-latest
    needs: terraform

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Build
        run: bun run build

      - name: Apply D1 Migrations
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: d1 migrations apply cloudflare-demo --remote

      - name: Deploy to Cloudflare Workers
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: deploy
